body {
  background-color: #040d12;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
}

.contact_form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_field,
.email_field,
.msg_field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

input:focus,
textarea:focus {
  border: 0.2rem solid lime;
}

label {
  margin: 0.5rem 0;
}

textarea {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

form {
  width: 50rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

legend {
  font-size: 2.4rem;
}

label {
  font-size: 1.6rem;
}
