html {
  font-size: 10px;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Ubuntu Sans Mono", monospace; */
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: "Ubuntu Sans Mono", monospace;
}
